{# Расширяем базовый шаблон(импорт базового шаблона) со слотами которые указаны в нем 
Имеются слоты: title, content #}
{% extends "layouts::base.twig" %}

{% block title %} Главная {% endblock %} {# Указываем что должно быть в слоте title #}


{% block body %}    {# Указываем что должно быть в слоте body #}
  
     
<h1>Test</h1>

{% endblock %}



