{# Расширяем базовый шаблон(импорт базового шаблона) со слотами которые указаны в нем 
Имеются слоты: title, content #}
{% extends "layouts::base.twig" %}

{% block title %} Главная {% endblock %} {# Указываем что должно быть в слоте title #}


{% block body %}    {# Указываем что должно быть в слоте body #}
  
     
<h1>Test</h1>
<p class="class1 dawdawdad rtrtdasdw">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, neque!</p>

<button id="btn">test</button>

<div class="empty"></div>
{% endblock %}



