//Самый главный файл стилей...его мы не забываем импотрировать в главный файл index.js чтобы стили применились

// Подключаем сначала переменные чтобы другие файлы scss их видели...
// При имортах не обязательно указывать расширения файлов .scss
//@import "scss/variables.scss";
@import "scss/variables";

//Это популярная библиотка со стилями готовых элементов, можно пока отключить, но все равно придется учить ее
// будут по умолчанию Normalize.css и красивые шрифты
//@import "~bootstrap/scss/bootstrap"; 


//какие-то общие стили
@import './scss/common';

.test {
    background: #000;
}

#btn {
   position: relative;
   left: 0;
   transition: all 1s;

   &.active {
     left: 50%;
   }
}
.empty {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: red;
}

