<!DOCTYPE html>
<html lang="ru">
    <head>
        {# Создаем слот для title, в это место будет подставляться разметка или текст #}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

    <body>
        {# Создаем слот body для content(контента), 
        в это место будет подставляться разметка или текст, у каждой страницы свой контент и он будет отличаться #}
        {% block body %}{% endblock %}

    </body>
</html>